# Bot configuration
BOT_TOKEN=7815305279:AAGQEXRMji04uEshxOeI0-4P7rpFzclGZEQ
MINI_APP_URL=https://moriswap.space

# Rhino configuration
RHINO_API_KEY=SECRET-8cc1337f-b3ab-4c88-8386-ad543484ffed

# SSL certificates (пути к вашим существующим сертификатам)
SSL_CERT_PATH=./ssl/cert.pem
SSL_KEY_PATH=./ssl/key.pem
